  <div class="four wide column center aligned votes">
    <div class="ui statistic">
      <div class="value">5</div>
      <div class="label">Points</div>
    </div>
  </div>
  <div class="twelve wide column">
    <a class="ui large header" href="//angular.io" target="_blank">Angular 5</a>
    <div class="meta">(angular.io)</div>
    <ul class="ui big horizontal list voters">
      <li class="item"><a href><i class="arrow up icon"></i>upvote</a></li>
      <li class="item"><a href><i class="arrow down icon"></i>downvote</a></li>
    </ul>
  </div>
