:host {
  display: block;
  margin-bottom: 1rem;
}

.form {
  background-color: #F1F9FF;
  margin-top: 2em;
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

.articles {
  margin-top: 2em;
  margin-left: 0;
}

.votes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
  padding: 1em 0;
  border-radius: 5px;
}

.meta {
  color: #9A9A9A
}

.voters {
  clear: both;
  width: 100%;
}

.list li:before {
  content: '';
}
